body{
    background-color: black;
}

h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 3rem;
}

div{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    align-content: center;
}

img{
    width: 100%;
    margin: 100px 0px 0px 0px;
    border: 5px solid white;
}

p {
    color: white;
}


